// colors
//$color1: #ED9435;
//$color1:  #4394e5;
$color1:  #2bd198;
$black : #0d0d0d;
//$black1 : #1d1d1d;
$dark-black : #0d0d0d;
$white : #ffffff;
$light-gray : #c0c0c0;
$medium-gray : #9d9c9c;
$dark-gray : #626262;
$gray1 : #555;
$gray2 : #626262;


// fonts
$geo_font : "Glacial Indifference","Futura LT", "Roboto", "Helvetica", sans-serif;
$geo : $geo_font;
//$sans_font : $geo;
$sans_font : "Glacial Indifference", "Futura LT","Proxima Nova", "Montserrat", "Open Sans", "Roboto" , "Helvetica", sans-serif;
$sans : $sans_font;
$serif : "Playfair Display" , "Helvetica", sans-serif;
$condensed : "Roboto Condensed", "League Gothic";

// size
$text-size : 15px;