@import "../mixins";
@import "../variables";


/*  Main Page / .page-main*/
.page-main{  
    position: relative;
	margin-left: 0;
    width: 100%;
    height: 100%;
	z-index: 1;
}
/* Section / .section*/

.section-cent{
	width: 100%;   
    position: relative;
    text-align: center;
}

.section{
	&.js-left-light{
//		position: relative;
//		&:before{
//			position: absolute;
//			background: $white;
//			width: 50%;
//			top: 0;
//			bottom: 0;
//			left: 0;
//			content: "";
//			z-index: 0;
//		}
	}
	.content{
		@include clearfix;
		//position: relative;
		/* content left */
		.c-left{
			background: $white;
//			background: $color1;
			position: relative;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			@media(min-width: 601px){
				top: 0;
				bottom: auto;
				left: 0;
				min-height: 70vh;
				width: 100%;
				position: relative;
			}
			@media(min-width: 801px){
				top: 0;
				bottom: 0;
				left: 0;
				width: 50%;
				min-height: inherit;
				height: 100%;
				position: absolute;
				overflow: hidden;	
			}
			display: flex;
			align-items: center;
			justify-content: center;
			//overflow-y: auto;
			//overflow-x: visible;
			&:before{
				/*position: absolute;
				width: 100%;
				top: 0;
				bottom: 0;
				left: 0;
				background: $white;
				content: "";
				z-index: 0;*/
			}
			.c-wrapper{
				max-width: 100%;
				padding: 128px 10%;
				@media(min-width: 601px){
					padding: 128px;
					padding-left: 20%;
					padding-left: 10vw;
				}
				h2{
					font-size: 36px;
					font-weight: bold;
					font-family: $serif;
					color: $black;
	//				letter-spacing: 0.2em;
				}
				h3{
					font-family: $sans;
					font-size: 14px;
					text-transform: uppercase;
					color: $medium-gray;
				}
				p{
					font-family: $sans;
					font-size: $text-size;
					color: $black;
					max-width: 640px;
				}
				.h-icon{
					text-align: center;
					color: $color1;
					margin-bottom: 32px;
					.icon{
						font-size: 36px;
					}
				}
				.c-desc{
					text-align: left;
				}
				.c-features{
					margin-top: 48px;
					li{
						padding: 0 4px;
					}
				}
			}
		}
		.c-right{
			background: $black;
			top: 0;
			bottom: 0;
			right: 0;
			position: relative;
			width: 100%;
			@media(min-width: 601px){
				top: auto;
				height: 30%;
				min-height: 30vh;
				bottom: 0;
				width: 100%;
				position: relative;
			}
			@media(min-width: 801px){
				top: 0;
				bottom: 0;
				right: 0;
				width: 50%;
				height: 100%;
				min-height: inherit;
				position: absolute;
			}
			/*display: flex;
			align-items: center;
			justify-content: center;*/
			.c-bg{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: "";
				&:after{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: "";
					background: rgba(0,0,0,0.2);
				}
				&.mask-black{
					&:after{
						background: rgba(0,0,0,0.5);
					}
				}
			}
			.c-wrapper{
				max-width: 100%;
				padding: 128px 10%;
				@media(min-width: 601px){
					padding: 128px;
					padding-right: 20%;
					padding-left: 10vw;
				}
				.c-header{
					position: absolute;
					left: auto;
					right: 48px;
					top: 128px;
					z-index: 2;
					text-align: right;
					@media(min-width: 601px){
						left: auto;	
						right: 48px;
						right: 10vw;
						top: 128px;
						text-align: right;
					}
					@media(min-width: 801px){
						left: auto;	
						right: 48px;
						top: 128px;
						text-align: right;
					}
					h2{
						font-family: $serif;
						font-size: 56px;
						color: $white;
					}
					p{
						font-family: $sans;
						font-size: $text-size;
						color: $white;
					}
				}
			}
		}
		/* content right */
		/* header */
		.c-header{
			
			h2{
				font-size: 36px;
				font-weight: bold;
				font-family: $condensed;
				color: $white;
//				letter-spacing: 0.2em;
			}
			p{
				font-family: $sans;
				font-size: $text-size;
				color: $white;
				max-width: 720px;
				opacity: 0.6;
			}
			h3{
				font-family: $sans;
				font-size: 24px;
				color: $white;
				max-width: 720px;
				opacity: 0.6;
			}
			margin-bottom: 32px;
		}
		/* main wrapper*/
		
		@media (min-width : 601px){
			.c-left.anim{
				clip: rect(0, 100vw, 100vh, 50vw);
				transform: translateX(100%) ;
				opacity: 0;
				transition: 0.9s;
				transition-delay: 00s;
			}
			.c-right.anim{
				transform: translateX(-100%) ;
				opacity: 0;
				transition: 0.6s;
				transition-delay: 00s;
			}
		}
		@media (min-width : 801px){
		.c-left.anim{
			clip: rect(0, 50vw, 100vh, 50vw);
			
			transform: translateX(100%) ;
			opacity: 0;
			//background: #f4f;
			transition: 0.9s;
//			transition-timing-function: cubic-bezier(.11, .61, .13, .83);
			transition-delay: 00s;
		}
		.c-right.anim{
			transform: translateX(-100%) ;
			opacity: 0;
			transition: 0.6s;
//			transition-timing-function: cubic-bezier(.11, .61, .13, .83);
			transition-delay: 00s;
		}
		}
	}
	&.active{
		.content{
			.c-left.anim{
				@media (min-width : 601px){
					clip: rect(0, 100vw, 100vh, 00vw);
				}
				@media (min-width : 801px){
					clip: rect(0, 50vw, 100vh, 00vw);
				}
				transform: none;
				opacity: 1;
				transition-delay: 0.6s;
			}
			.c-right.anim{
				transform: none;
				opacity: 1;
				transition-delay: 0.6s;
			}
			.c-features{
				li.anim{
					&:before{
						width: 96px;
						transition-delay: 1.1s;
					}
					&:after{
						height: 16px;
						width: 16px;
						bottom: -7px;
						margin-left: -8px;
						border: 4px solid $color1;
						transition-delay: 1s;
					}
					h3,
					.title{
						transform: none;
						opacity: 1;
						transition-delay: 1s;
					}
					.desc{
						transition-delay: 1.3s;
						transform: none;
						opacity: 1;
						font-family: $sans;
						font-size: $text-size;
					}
					$begin : 0.6s;
					$param : 0.5;
					@for $i from 1 through 10 {
						.item-#{$i} { width: 2em * $i; }
						&:nth-child(#{$i}){
							&:before{
								transition-delay: ($begin - $param) + $i*$param + 0.1s;
							}
							&:after{
								transition-delay: ($begin - $param) + $i*$param + 0s;
							}
							h3,
							.title{
								transition-delay: ($begin - $param) + $i*$param + 0s;
							}
							.desc{
								transition-delay: ($begin - $param) + $i*$param + 0.3s;
							}
						}
					}
				}
			}
			
			.c-card{
				@media (min-width : 720px){
				&.anim{
					.card-wrapper{
						transform: none;
						transition-delay: 1s;
						transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
						box-shadow: 0 0 2px rgba(0,0,0,0.2);
					}
				}
				}
			}
		}
	}
}


/* Section footer with scroll down button / .s-footer */
.s-footer {
    bottom: 0;
	left: 0;
	right: 0;
//    position: fixed;
    position: absolute;
    padding: 0px;
	visibility: hidden;
	opacity: 0;
	z-index: 100;
	transition: 0.3s;
	a{
		color: $white;
		display: block;
		margin: auto;
//		margin-bottom: (64px + 16px);
		margin-bottom: (24px);
		width: 160px;
		text-align: center;
		font-family: $sans;
		font-size: 14px;
		position: relative;
		height: 32px;
		transition: 0.3s;
		.left{
			position: absolute;
			right: 50%;
			top: 5px;
			margin-right: 24px;
			text-align: right;
		}
		.right{
			position: absolute;
			left: 50%;
			top: 5px;
			margin-left: 24px;
			text-align: left;
		}
		.icon{
			content: "";
			position: absolute;
			border: 1px solid $white;
			width: 31px;
			height: 31px;
			top: 0px;
			margin-left: -16px;
			border-radius: 40px;
			left: 50%;
			transition: 0.3s;
//			pointer-events: none;
			&:before{
				content: "";
				position: absolute;
				background: transparentize($white,0.9);
				//background: transparentize($color1,0.9);
				top: 3px;
				left: 3px;
				bottom: 3px;
				right: 3px;
				margin-left: 0;
				border-radius: 60px;
					transition: 0.3s;
			}
			&:after{
				content: "";
				position: absolute;
				background: $white;
				//background: $color1;
				top: 8px;
				width: auto;
				border-radius: 10px;
				left: 12px;
				right: 12px;
				transition: 0.3s;
				height: 12px;
	//			pointer-events: none;
			}
		}
		
		&:hover{
			color: transparentize($white,0.6);
			&:after{
				bottom: -64px;
			}
			.icon{
				&:before{
					content: "";
					position: absolute;
					background: transparentize($white,0.7);
					//background: transparentize($color1,0.7);
					top: -16px;
					left: 14px;
					right: 14px;
					bottom: 16px;
					//margin-left: -1px;
					border-radius: 60px;
				}
			}
		}
	}
}
.section.active .s-footer{
	visibility: visible;
	transform: none;
	opacity: 1;
}

body.left-light{
	.s-footer {
		a{
			color: $light-gray;
			color: $dark-gray;
			.icon{
				border: 1px solid $light-gray;
				border: 1px solid $dark-gray;
				&:before{
					background: transparentize($light-gray,0.9);
					background: transparentize($dark-gray,0.9);
				}
				&:after{
					background: $light-gray;
					background: $dark-gray;
				}
			}

			&:hover{
				color: transparentize($light-gray,0.6);
				color: transparentize($dark-gray,0.6);
				.icon{
					&:before{
						background: transparentize($light-gray,0.7);
						background: transparentize($dark-gray,0.7);
					}
				}
			}
		}
		a.black{
			color: $black;
			.icon{
				border: 1px solid $black;
				&:before{
					background: transparentize($black,0.9);
				}
				&:after{
					background: $black;
				}
			}

			&:hover{
				color: transparentize($black,0.6);
				.icon{
					&:before{
						background: transparentize($black,0.7);
					}
				}
			}
		}
	}
}

// Fullpage.js fix
//.fp-responsive{
//	.fp-auto-height-responsive{
//		.fp-scrollable{
//			height: auto !important;
//		}
//	}
//	
//}

