@import "../mixins";
@import "../variables";



.section{
	.content{
		.c-wrapper{
			//position: relative;
			.slider-wrapper{
				//position: relative;
				max-width: none;
				margin-right: 0;
				@media(min-width: 601px){
					margin-right: -128px + 22px;
				}
			}
			// pagination
			.slide-pagination,
			.items-pagination,
			.swiper-pagination{
				position: absolute;
				right: 16px;
				top:164px;
				@media(min-width: 601px){
					right: 128px;
					top:80px;
				}
				margin-right: -16px;
				z-index: 1;
			}
			.swiper-pagination-bullet{
				opacity: 1;
				margin-right: 16px;
				background: $light-gray;
				position: relative;
				transition: 0.3s;
				&:before{
					position: absolute;
					$dimen : -8px;
					left: $dimen;
					right: $dimen;
					top: $dimen;
					bottom: $dimen;
					content: "";
					background: none;
					border-radius: 20px;
					transition: 0.3s;
					z-index: -1;
					border: 1px solid transparent;
				}
				&:after{
					position: absolute;
					$dimen : -6px;
					left: $dimen;
					right: $dimen;
					top: $dimen;
					bottom: $dimen;
					content: "";
					background: none;
					transition: 0.3s;
					z-index: 0;
				}
				&:hover,
				&.swiper-pagination-bullet-active{
					background: $black;
					&:before{
//						background: $light-gray;
						background: transparent;
						$dimen : -4px;
						left: $dimen;
						right: $dimen;
						top: $dimen;
						bottom: $dimen;
						border-color: $black;
					}
				}
			}
			// navigaton button
			.slide-nav-container,
			.items-nav-container{
				float: right;
				position: absolute;
//				top: 40px;
				top: 192px;
				right: 16px;
				@media(min-width: 601px){
					top: 128px;
					right: 128px;
				}
				.items-button{
					float: left;
					position: relative;
					margin-right: 36px;
					&:after{
						content: "";
						background: $color1;
						//transform: rotate(45deg);
						height: 32px;
						width: 1px;
						position: absolute;
						right: -20px;
						bottom: -4px;
					}
					a{
						font-size: 14px;
						font-family: $sans;
						text-transform: uppercase;
						color: $color1;
						display: inline-block;
						padding-top: 8px;
//						padding-bottom: 8px;
						position: relative;
						&:after{
							bottom: 0;
							left: -16px;
							right: -16px;
							width: auto;
							content: "";
							position: absolute;
							background: $black;
							height: 1px;
							transition: 0.3s;
							opacity: 0;
						}
						&:hover{
							color: $black;
							&:after{
								left: -0%;
								right: -0%;
								opacity: 1;
							}
						}
					}
					&:last-child{
						margin-right: 0;
						&:after{
							display: none;
						}
					}
				}
			}
		}
		/* features/services/works */
		.items-slide{
//			padding-left: 25%;
//			margin-left: -25%;
//			margin-right: -25%;
//			overflow-x: hidden;
			position: relative;
			
			.swiper-wrapper{
				.swiper-slide{
					.item-img{
						position: relative;
						transition: none;
						transition: 0.3s;
						background: transparent;
					}
					.desc{
						position: relative;
						&:before,
						&:after{
							position: absolute;
							content: "";
							right: -16px;
							left: auto;
							top: 0;
							height: 0%;
							width: 1px;
							background: $color1;
							transition: 0.3s;
							opacity: 0;
						}
						&:before{
							left: -16px;
							right: auto;
							//transition: 00s;
						}
					}
					.item-desc{
						transform: none;
						transition: 0.3s;
					}
					&:first-child{
						.desc{
							&:before{
								display: none;
							}
						}
					}
					&:hover,
					&.swiper-slide-active{
						.item-img{
							position: relative;
							//transform: scale(1.15);
//							margin-bottom: 32px;
						}
						.item-desc{
							transform: translateY(16px);
						}
						.desc{
							&:before,
							&:after{
								height: 100%;
								opacity: 1;
								transition: 0.3s;
							}
						}
					}
				}
			}
		}
		.c-features-list{
			margin-top: 32px;
			li{
				padding-right: 64px;
				margin-bottom: 32px;
//				margin-bottom: 16px;
				position: relative;
				text-align: left;
				&.swiper-slide{
					padding-right: 0px;
				}
				&:before{
					content: "";
					position: absolute;
					left: -32px;
					top: 30px;
					background: $color1;
					height: 2px;
					width: 96px;
					margin-right: -8px;
					margin-top: 1px;
					z-index: 1;
					box-sizing: border-box;
				}
				&:after{
					content: "";
					position: absolute;
					left: -32px;
					top: (30px-6px);
					background: $white;
					border: 4px solid $color1;
					height: 16px;
					width: 16px;
					margin-left: -8px;
					border-radius: 16px;
					z-index: 1;
					box-sizing: border-box;
				}
				h4{
					font-family: $sans;
					font-size: 14px;
					font-weight: normal;
					color: $medium-gray;
					text-transform: uppercase;
//					a{
//						color: currentColor;
//						&:hover{
//							color: &color1;
//						}
//					}
				}
				h3,
				.title{
					font-size: 24px;
					font-family: $serif;
					color: $black;
					text-transform: none;
					font-weight: bold;
					position: relative;
					// margin-bottom: 16px;
					// padding-bottom:  16px;
					margin-bottom: 8px;
					padding-bottom:  8px;
				}
				.desc{
					p{
						font-family: $sans;
						font-size: $text-size;
						margin-bottom: 0;
						color: $black;
					}
				}
				.item-img{
					display: block;
					width: 100%;
					height: 0;
					padding-bottom: 60%;
					background: #fff;
					content: "";
					position: relative;
					margin-bottom: 16px;
					overflow: hidden;
					.img{
						height: 100%;
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						content: "";
					}
				}
				@media (min-width : 720px){
				&.anim{
					&:before{
						width: 0;
						transition: 0.3s;
						transition-delay: 0s;
						transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
					}
					&:after{
						height: 0px;
						width: 0px;
						margin-left: 0px;
						top: 32px;
						bottom: 0px;
						border: 0px solid $color1;
						transition: 0.3s;
						transition-delay: 0s;
						transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
					}
//					h3,
//					.title{
//						transition: 0.3s;
//						transition-delay: 0s;
//						transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
//						transform: translateY(16px);
//						opacity: 0;
//					}
//					.desc{
//						transition: 0.6s;
//						transition-delay: 0s;
//						transform: translateY(-16px);
//						opacity: 0;
//						
//						&.big{
//							p{
//								font-size: 24px;
//							}
//						}
//						a{
//							color: inherit;
//							&:hover{
//								color: $color1;
//								text-decoration: underline;
//							}
//						}
//						p{
//							font-family: $sans;
//							font-size: 14px;
//							
//						}
//					}
				}
				}
			}
		}
	}
	
	&.active{
		.content{
			.c-features{
				@media (min-width : 720px){
				li.anim{
					&:before{
						width: 96px;
						transition-delay: 1.1s;
					}
					&:after{
						height: 16px;
						width: 16px;
						bottom: -7px;
						top: 24px;
						margin-left: -8px;
						border: 4px solid $color1;
						transition-delay: 1s;
					}
					h3,
					.title{
						transform: none;
						opacity: 1;
						transition-delay: 1s;
					}
					.desc{
						transition-delay: 1.3s;
						transform: none;
						opacity: 1;
						font-family: $sans;
						font-size: 14px;
					}
					$begin : 0.6s;
//					$param : 0.5;
//					$param : 0.07;
					$param : 0.1;
					@for $i from 1 through 15 {
						&:nth-child(#{$i}){
							&:before{
								transition-delay: ($begin - $param) + $i*$param + 0.1s;
							}
							&:after{
								transition-delay: ($begin - $param) + $i*$param + 0s;
							}
							h3,
							.title{
								transition-delay: ($begin - $param) + $i*$param + 0s;
							}
							.desc{
								transition-delay: ($begin - $param) + $i*$param + 0.3s;
							}
						}
					}
					/*&:nth-child(1){
						&:before{
							transition-delay: 1.1s;
						}
						&:after{
							transition-delay: 1s;
						}
						h3,
						.title{
							transition-delay: 1s;
						}
						.desc{
							transition-delay: 1.3s;
						}
					}*/
				}
				}
			}
		}
	}
}