@import "../mixins";
@import "../variables";


.section{
	.content{
		.no-clip{
			clip: auto !important;
			z-index: 2;
		}
		.gallery-slides{
//			margin: 0 128px;
			margin-top: 32px;
			margin-left: 0px;
			width: 100%;
			@media(min-width: 601px){
				margin-left: 0px;
				width: 100%;
			}
			@media(min-width: 801px){
				margin-left: 128px;
				width: 200%;
			}
			.c-gallery{
				$padding : 32px;
				//margin-top: -$padding;
				//margin-bottom: $padding;
				@media(min-width: 601px){
					margin-left: (-0px - $padding);
					margin-right: (-0px - $padding);
				}
				@media(min-width: 801px){
					margin-left: (-128px - $padding);
					margin-right: (-128px - $padding);
				}
				max-width: none;
				li{
					padding: 0;
					@media(min-width: 601px){
						padding: 0 $padding;
					}
					margin-bottom: 32px;
	//				margin-bottom: 16px;
					position: relative;
					text-align: left;
					
					h4{
						font-family: $sans;
						font-size: 14px;
						font-weight: normal;
						color: $medium-gray;
						text-transform: uppercase;
	//					a{
	//						color: currentColor;
	//						&:hover{
	//							color: &color1;
	//						}
	//					}
					}
					h3,
					.title{
						font-size: 24px;
						font-family: $serif;
						color: $black;
						text-transform: none;
						font-weight: bold;
						position: relative;
						// margin-bottom: 16px;
						// padding-bottom:  16px;
						margin-bottom: 8px;
						padding-bottom:  8px;
					}
					.desc{
						p{
							font-family: $sans;
							font-size: $text-size;
							margin-bottom: 0;
							color: $black;
						}
					}
					.item-img{
						display: block;
						width: 100%;
						height: 0;
						padding-bottom: 60%;
						background: #fff;
						content: "";
						position: relative;
						margin-bottom: 16px;
						overflow: hidden;
						.img{
							height: 100%;
							width: 100%;
							position: absolute;
							top: 0;
							left: 0;
							content: "";
						}
					}
					.item-desc{
						transform: none;
						transition: 0.3s;
					}
					&:hover{
						.item-desc{
							transform: translateY(16px);
						}
					}
					@media screen and (min-width: 64em){
					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(7),
					&:nth-child(8),
					&:nth-child(11),
					&:nth-child(12),
					&:nth-child(15),
					&:nth-child(16),
					&:nth-child(19),
					&:nth-child(20),
					&:nth-child(23),
					&:nth-child(24)
					{
					//&:nth-of-type(3n) ,&:nth-of-type(4n){
						h3,
						.title{
							color: $light-gray;
						}
						.desc{
							p{
								color: $light-gray;
							}
						}
					}
					}
				}
			}
		}
	}
	&.active{
		.content{
			.c-gallery{
				@media (min-width : 720px){
				li.anim{
					$begin : 0.6s;
//					$param : 0.05;
					$param : 0.07;
					@for $i from 1 through 50 {
						&:nth-child(#{$i}){
							opacity: 1;
							transition-delay: ($begin - $param) + $i*$param + 0s;
							.item-img{
								.img{
									bottom: 0%;
									left: 0%;
									right: 0%;
									top: 0%;
									transition-delay: ($begin - $param) + $i*$param + 0.3s;
								}
							}
							.item-desc{
								h3{
									&:after{
										width: 64px;
										transition-delay: ($begin - $param) + $i*$param + 0.3s;
									}
								}
							}
						}
					}
				}
				}
			}
		}
	}
}