@import "../mixins";
@import "../variables";

/* 2.3.0 home section / .section-home */
.section-home{
	$pos : -8px;
	.content{
		max-width: 960px;
		position: relative;
		margin: auto;
		padding: 0 16px;
		@media(min-width: 601px){
			padding: 0;
		}
		.c-text{
			position: relative;
			z-index: 1;
			text-align: center;
			width: 100%;
			min-height: 420px;
			margin: 0 auto;
			padding: 24px;
			@media(min-width: 601px){
				width: 420px;
				min-height: 420px;
				margin: 0 auto;
				padding: 24px;
			}
			&:before{
				position: absolute;
				top: 0;
				left: 0px;
				right: 0px;
				bottom: 0;
				content: "";
				background: $white;
				background:transparentize($white,0.1);
				border-radius: 0px;
			}
			&:after{
				
				position: absolute;
				z-index: -1;
				top: $pos;
				left: $pos;
				right: $pos;
				bottom: $pos;
				content: "";
				border: 1px solid transparentize($white,0.9) ;
				border-radius: 0px;
			}
			.h-btns{
				position: absolute;
				top: 24px; left: 24px; right: 24px;
				z-index: 1;
				.btn{
					//display: inline-block;
					//display: table-cell;
					vertical-align: middle;
					width: 48px;
					height: 48px;
					text-align: center;
					border-radius: 48px;
					border: 1px solid $black;
					color: $black;
					//color: $color1;
					line-height: 1;
					padding-top: 11px;
					//padding-top: 8px;
					font-size: 24px;
					//overflow: hidden;
					position: relative;
					float: left;
					&.b-right{
						float: right;
					}
					
					&:before{
						position: absolute;
						z-index: -1;
						content: "";
						transform: rotate(0deg);
						background: transparentize($black,0.9);
						//background: transparentize($color1,0.9);
						top: 3px;
						left: 3px;
						bottom: 3px;
						right: 3px;
						border-radius: 40px;
						transition: 0.3s;
					}
					&:hover{
						color: $white;
						&:before{
							top: -1px;left: -1px;right: -1px;bottom: -1px;
							background: $black;
						}
						//background: $white;
					}
				}
			}
			.title-desc{
				position: relative;
				overflow: hidden;
				padding-bottom: 16px;
				&:after{
					position: absolute;
					left: 25%;
					right: 25%;
					bottom: 0;
					height: 1px;
					content: "";
					background: $light-gray;
				}
			}
			.c-logo{
				height: 100%;
				text-align: center;
				img{
					height: 64px;
					width: auto;
					display: inline-block;
				}
			}
			.header{
				h2{
					font-family: $serif;
					color: $black;
					font-size: 48px;
					margin-bottom: 0px;
				}
				h3{
					font-family: $sans;
					color: $medium-gray;
					font-size: $text-size;
				}
			}
			.desc{
				padding: 24px;
				p{
					color: $black;
					font-family: $sans;
					font-size: $text-size;
					margin: 0;
				}
			}
			.home-btns{
				padding-top: 28px;
				overflow: hidden;
				.btn{
					@include magic-button($black, $black, 1px);
					display: inline-block;  
					padding-top: 9.5px ;
				}
			}
			.c-clock{
				position: relative;
				overflow: hidden;
				.clock-wrapper{
					margin: auto;
					padding-top: 8px;
					$tile_width: 80px;
					.tile{
						width: $tile_width;
						display: inline-block;
						.hours,
						.days,
						.minutes,
						.seconds{
							font-family: $sans;
							font-size: 24px;
							display: block;
							text-align: center;
							color: $black;
						}
						.txt{
							display: block;
							text-align: center;
							font-family: $sans;
							text-transform: lowercase;
							font-size: 14px;
							position: relative;
							// color: $color1;
							color: $black;
							&:after{
								position: absolute;
								content: "";
								background: #ffffff;
								background: $color1;
								height: 32px;
								width: 1px;
								border-radius: 8px;
								position: absolute;
								right: -4px;
								top: -22px;
							}
						}
						&:last-child{
							.txt{
								&:after{
									display: none;
								}
							}
						}
					}
				}
			}
		}
		&.anim{
			.c-text{
				&:before{
					left: -300px;
					right: -300px;
					transition: 0.6s;
					opacity: 0;
				}
				&:after{
					top: -100px;
					bottom: -100px;
					transition: 0.6s;
					opacity: 0;
				}
				.title-desc{
					.t-wrapper{
						transition: 0.6s;
						opacity: 0;
						transition-delay: 0s;
						transform: translateY(15%) ;
						transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
					}
				}
				.c-clock{
					.btn,
					.clock-wrapper{
						transition: 0.3s;
						opacity: 0;
						transition-delay: 0s;
						transform: translateY(-100%);
						transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
					}
				}
			}
		}
	}
	&.active{
		&.anim{
			.c-text{
				&:before{
					left: 0;
					right: 0;
					opacity: 1;
				}
				&:after{
					top: $pos;
					bottom: $pos;
					opacity: 1;
				}
				$begin : 0.6s;
				.title-desc{
					.t-wrapper{
						transition: 0.9s;
						transition-delay: 0.0s;
						//transition-delay: $begin + 0.15s;
						opacity: 1;
						transform: none;
					}
				}
				.c-clock{
					.btn,
					.clock-wrapper{
						transition-duration: 0.6s;
						transition-timing-function: cubic-bezier(.13, .53, .21, .97);
						transition-delay: $begin + 0s;
						opacity: 1;
						transform: none;
					}
				}
			}
		}
	}
}